<div id="<%= dom_id position %>">
  <p>
    <strong>X:</strong>
    <%= position.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= position.y %>
  </p>

  <p>
    <strong>User:</strong>
    <%= position.user_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= position.car_id %>
  </p>

</div>
