<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rol, style: "display: block" %>
    <%= form.number_field :rol %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :apellido, style: "display: block" %>
    <%= form.text_field :apellido %>
  </div>

  <div>
    <%= form.label :DNI, style: "display: block" %>
    <%= form.number_field :DNI %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.number_field :estado %>
  </div>

  <div>
    <%= form.label :liscencia_url, style: "display: block" %>
    <%= form.text_field :liscencia_url %>
  </div>

  <div>
    <%= form.label :cedula_azul_url, style: "display: block" %>
    <%= form.text_field :cedula_azul_url %>
  </div>

  <div>
    <%= form.label :posicion_id, style: "display: block" %>
    <%= form.number_field :posicion_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
