<div id="<%= dom_id user %>">
  <p>
    <strong>Rol:</strong>
    <%= user.rol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= user.document %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state %>
  </p>

  <p>
    <strong>License url:</strong>
    <%= user.license_url %>
  </p>

  <p>
    <strong>Bluecard url:</strong>
    <%= user.blueCard_url %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position_id %>
  </p>

</div>
