<div id="<%= dom_id user %>">
  <p>
    <strong>Rol:</strong>
    <%= user.rol %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= user.apellido %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= user.DNI %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= user.estado %>
  </p>

  <p>
    <strong>Liscencia url:</strong>
    <%= user.liscencia_url %>
  </p>

  <p>
    <strong>Cedula azul url:</strong>
    <%= user.cedula_azul_url %>
  </p>

  <p>
    <strong>Posicion:</strong>
    <%= user.posicion_id %>
  </p>

</div>
