<div id="<%= dom_id alquiler %>">
  <p>
    <strong>Precio:</strong>
    <%= alquiler.precio %>
  </p>

  <p>
    <strong>Vencimiento:</strong>
    <%= alquiler.vencimiento %>
  </p>

  <p>
    <strong>User:</strong>
    <%= alquiler.user_id %>
  </p>

  <p>
    <strong>Auto:</strong>
    <%= alquiler.auto_id %>
  </p>

</div>
