<%= form_with(model: alquiler) do |form| %>
  <% if alquiler.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(alquiler.errors.count, "error") %> prohibited this alquiler from being saved:</h2>

      <ul>
        <% alquiler.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :precio, style: "display: block" %>
    <%= form.text_field :precio %>
  </div>

  <div>
    <%= form.label :vencimiento, style: "display: block" %>
    <%= form.datetime_field :vencimiento %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :auto_id, style: "display: block" %>
    <%= form.number_field :auto_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
