<div id="<%= dom_id rental %>">
  <p>
    <strong>Price:</strong>
    <%= rental.price %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= rental.expires %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rental.user_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= rental.car_id %>
  </p>

</div>
