<div id="<%= dom_id auto %>">
  <p>
    <strong>Modelo:</strong>
    <%= auto.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= auto.marca %>
  </p>

  <p>
    <strong>Patente:</strong>
    <%= auto.patente %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= auto.color %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= auto.img_url %>
  </p>

  <p>
    <strong>Nro puertas:</strong>
    <%= auto.nro_puertas %>
  </p>

  <p>
    <strong>Nro asientos:</strong>
    <%= auto.nro_asientos %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= auto.estado %>
  </p>

  <p>
    <strong>Encendido:</strong>
    <%= auto.encendido %>
  </p>

  <p>
    <strong>Velocidad:</strong>
    <%= auto.velocidad %>
  </p>

  <p>
    <strong>Cant combustible:</strong>
    <%= auto.cant_combustible %>
  </p>

  <p>
    <strong>Posicion:</strong>
    <%= auto.posicion_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= auto.user_id %>
  </p>

</div>
