<p style="color: green"><%= notice %></p>

<%= render @posicion %>

<div>
  <%= link_to "Edit this posicion", edit_posicion_path(@posicion) %> |
  <%= link_to "Back to posicions", posicions_path %>

  <%= button_to "Destroy this posicion", @posicion, method: :delete %>
</div>
